
@media screen and (max-width: 599px) {

  nav h1 a {
  font-size: .7rem;
  }

  .filter-options {
    height: 120px;
    flex-wrap: wrap;
  }

  .filter-options h2 {
  font-size: 1.2rem;
  }

  .filter-options select {
    height: 35px;
    letter-spacing: 0;
    margin: 5px;
    padding: 0 2px;
    width: 200px;
  }

}




@media screen and (min-width: 600px) and (max-width: 800px) {

  nav h1 a {
  font-size: 2rem;
  }

}
